# Set the default behavior to automatically normalize line endings
* text=auto

# Force batch scripts to use CRLF line endings on checkout
*.bat text eol=crlf

# Force bash scripts to use LF line endings on checkout
*.sh text eol=lf

# Ensure the following files retain LF line endings on checkout
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
